body {
    background-color: #000000;
    margin: 0;
    min-width: 250px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
footer,
.navbar,
.navbar a {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main,
a,
p,
ul,
ol,
li,
label,
input,
textarea {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,
h2 {
    color: #20a0a1;
    margin-bottom: 5px;
    margin-top: 0;
    text-shadow: 2px 2px 0 #461580;
}

h1 {
    margin-bottom: 0;
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h2 .material-symbols-outlined {
    font-size: 1em;
    vertical-align: top;
}

h3 {
    margin-top: 0;
}

p {
    margin-top: 0;
}

ul,
ol {
    margin: 0;
    padding-inline-start: 20px;
}

a {
    color: #0000cc;
    font-weight: 600;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

header {
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #461580;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
}

.header-title {
    padding: 4px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar .material-symbols-outlined {
    font-size: 1.2em;
    vertical-align: text-top;
}

.navbar a {
    flex: 1 1 auto;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-shadow: 1px 1px 2px #20a0a1;
}

main {
    padding: 15px 15px 0 15px;
    margin: 0 8%;
}

.card {
    background-color: #9b9ba3;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 0;
    box-shadow: 4px 4px 0 #008081;
    padding: 15px 20px;
    margin-bottom: 25px;
}

footer {
    background-color: #180350;
    color: #efefef;
    font-size: 0.5em;
    padding: 5px;
    text-align: center;
}

#back-to-top {
    position: fixed;
    bottom: 5px;
    right: 5px;
    height: 21px;
    width: 21px;
    color: #ffffff;
}

#about .card .content {
    display: flex;
    align-items: flex-start;
}

#about-img {
    border: 4px solid #008081;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 0;
    margin-right: 15px;
    width: 100px;
    height: 100px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 6px;
}

.projects-item {
    flex: 1;
    border: 2px solid #008081;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 0;
    overflow: hidden;
    position: relative;
    min-width: 15vw;
}

.projects-item:hover,
.projects-item:active,
.projects-item:focus {
    opacity: 0.6;
}

.projects-item img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-item label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #cccccc;
    cursor: pointer;
}

#lightbox {
    width: 96%;
    height: auto;
    padding: 2%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #000000;
}

#lightbox-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#lightbox-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #cccccc;
    cursor: pointer;
}