body {
    background-color: #000000;
    margin: 0;
    min-width: 250px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
footer,
.navbar,
.navbar a {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main,
a,
p,
ul,
ol,
li,
label,
input,
textarea {
    font-family: "Exo 2", sans-serif;
}

h1,
h2 {
    color: #20a0a1;
    margin-bottom: 5px;
    margin-top: 0;
    text-shadow: 2px 2px 0 #461580;
}

h2 {
    font-size: 1.5em;
}

h2 .material-symbols-outlined {
    font-size: 1em;
    vertical-align: top;
}

header {
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #461580;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
}

.header-title {
    padding: 4px;
    font-size: 2em;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar .material-symbols-outlined {
    font-size: 1.2em;
    vertical-align: text-top;
}

.navbar a {
    flex: 1 1 auto;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}

main {
    padding: 15px 15px 0 15px;
    margin: 0 8%;
}

.card {
    background-color: #9b9ba3;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 0;
    box-shadow: 4px 4px 0 #008081;
    padding: 15px 20px;
    margin-bottom: 25px;
}

footer {
    background-color: #180350;
    color: #efefef;
    font-size: 0.5em;
    padding: 5px;
    text-align: center;
}

#back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 10px;
    width: 10px;
}