/* Root */
:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #461580;
  --secondary: #20a0a1;
  --link: #0000cc;
  --card-bg: #9b9ba3;
  --footer-bg: #180350;
}
/* Global */
body {
  background-color: var(--black);
  margin: 0;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
footer,
.navbar,
.navbar a {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main,
a,
p,
ul,
ol,
li,
label,
input,
textarea,
figure,
figcaption {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1em;
}

h1,
h2 {
  color: var(--secondary);
  margin-bottom: 5px;
  margin-top: 0;
  text-shadow: 2px 2px 0 var(--primary);
}

h1 {
  margin-bottom: 0;
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h2 .material-symbols-outlined {
  font-size: 1em;
  vertical-align: top;
}

h3 {
  margin-top: 0;
}

figcaption {
  padding: 4px;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-inline-start: 20px;
}

a {
  color: var(--link);
  font-weight: 600;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

figure {
  margin: 0;
}

/* Layout */
header {
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--primary);
  text-align: center;
  color: var(--white);
  font-weight: 700;
}

.header-title {
  padding: 4px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar .material-symbols-outlined {
  font-size: 1.2em;
  vertical-align: text-top;
}

.navbar a {
  flex: 1 1 auto;
  color: var(--white);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus {
  text-shadow: 1px 1px 2px var(--secondary);
}

main {
  padding: 15px 15px 0 15px;
  margin: 0 8%;
}

.card {
  background-color: var(--card-bg);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 0;
  box-shadow: 4px 4px 0 var(--secondary);
  padding: 15px 20px;
  margin-bottom: 25px;
}

footer {
  background-color: var(--footer-bg);
  color: var(--white);
  font-size: 0.5em;
  padding: 5px;
  text-align: center;
}

#back-to-top {
  position: fixed;
  bottom: 5px;
  right: 5px;
  height: 21px;
  width: 21px;
  color: var(--white);
}

/* About */
#about .card .content {
  display: flex;
}

#about-img {
  border: 4px solid var(--secondary);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 0;
  margin-right: 15px;
  width: 100px;
  height: 100px;
}

/* Projects */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 6px;
}

.projects-item {
  flex: 1;
  border: 2px solid var(--secondary);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 0;
  overflow: hidden;
  position: relative;
  min-width: 15vw;
}

.projects-item:hover,
.projects-item:active,
.projects-item:focus {
  opacity: 0.6;
}

.projects-item img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-item figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 0.8em;
}

#lightbox-bg {
  z-index: 1001;
  opacity: 0.8;
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#lightbox {
  z-index: 1002;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
}

#lightbox figure {
  position: relative;
}

#lightbox-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#lightbox-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}
