@media (max-width: 768px) {
  .header-title {
    font-size: 1.4em;
  }

  .navbar a {
    font-size: 1em;
  }

  h2 {
    font-size: 1.2em;
  }
}

@media (max-width: 576px) {
  .header-title {
    font-size: 1.2em;
  }

  .navbar a {
    color: transparent;
    padding: 0;
    width: 20%;
  }

  .navbar .material-symbols-outlined {
    font-size: 1.6em;
    color: var(--white);
    margin-bottom: -10px;
    margin-top: 5px;
    width: 100%;
  }

  ul,
  ol {
    padding-inline-start: 0;
    width: 100%;
    list-style-type: none;
  }

  li {
    margin-top: 5px;
  }

  main {
    margin: 0 2%;
  }

  #about .card .content {
    flex-direction: column;
  }

  #about .card .content > div {
    text-align: center;
  }

  #about-img {
    width: 50%;
    height: auto;
    margin: 0;
  }

  #about p {
    margin-top: 10px;
  }

  .projects-item {
    min-width: 25vw;
  }

  #download-resume,
  #back-to-top {
    background-color: var(--secondary);
  }
}
